/*body {*/
    /*background-color: #342;*/
/*}*/

/*#main-container {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*align-items: stretch;*/
/*}*/

/*#layout-area, #preview-area {*/
    /*border-radius: 5px;*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*margin-top: 10px;*/
/*}*/

/*#layout-area {*/
    /*!*height: 300px;*!*/
    /*width: 400px;*/
/*}*/

/*#cardList {*/
    /*list-style-type: none;*/
    /*margin: 10px;*/
    /*padding: 0 10px 10px 10px;*/
    /*overflow-y: auto;*/
/*}*/

/*#cardList li img {*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

/*.category img {*/
    /*!*width: 100%;*!*/
    /*background-color: #cbcbeb;*/
    /*margin: 10px 10px 10px 10px;*/
    /*height: 100px;*/
    /*position: relative;*/
    /*top: 10px;*/
/*}*/

/*#preview-area {*/
    /*margin-left: 20px;*/
    /*!*display: flex;*!*/
/*}*/

/*#preview {*/
    /*display: flex;*/
    /*padding: 10px;*/
/*}*/

/*.layout-subtype {*/
    /*list-style-type: none;*/
    /*overflow-y: auto;*/
    /*margin: 10px 0 10px 10px;*/
    /*padding: 0;*/
/*}*/

/*.layout-subtype li {*/
    /*display: block;*/
    /*float: left;*/
    /*margin: 5px 5px 0 5px;*/
/*}*/

/*.layout-subtype img {*/
    /*width: 90px;*/
    /*height: 50px;*/
    /*cursor: pointer;*/
/*}*/

/*#card-front, #card-back {*/
    /*width: 330px;*/
    /*height: 191px;*/
    /*background-color: #fff;*/
/*}*/

/*#card-front {*/
    /*margin-right: 10px;*/
/*}*/

/*@media screen and (max-width: 699px) {*/
    /*#preview {*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*max-width: 380px;*/
    /*}*/

    /*#card-back {*/
        /*position: relative;*/
        /*top: 10px;*/
    /*}*/

    /*#card-front {*/
        /*margin: 0;*/
    /*}*/
/*}*/

/*Copied*/
body {
    margin: 0;
    background-color: #311a28;
    background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)),
    linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size: 70px 120px;
    transition: all .3s ease;
}

/*body.bg-loaded {*/
    /*background-position: top left;*/
    /*background-color: #311a28;*/
    /*background-image: url(https://lh5.googleusercontent.com/mLKsrDqZbjjDDvpjJrdMZ4ExyzY_gjz9N-73n6p3U1KHz_C0U7RAUAutk5G4VaudJUQt4KxdO7BguEnxNU_7N12asNbJP5dwPKH4i4UIblsHb9xlHccMMlHqBRelMlQx3olZIOp4);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*body.page-loaded .wrapper {*/
    /*opacity: 1;*/
    /*height: 100%;*/
    /*overflow: auto;*/
/*}*/

body,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    transition: all .3s ease;
}

.topbar {
    padding: 20px 0;
    width: 100%;
    letter-spacing: -0.5px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.topbar .brand {
    display: block;
    font-size: 36px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
}

.topbar .tagline {
    font-size: 13px;
    line-height: 1;
    font-style: italic;
    font-weight: 200;
    color: #fff;
    margin-top: -2px;
    display: block;
    letter-spacing: 0px;
}

.main-content {
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: stretch;
    -webkit-justify-content: center;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.layout-area,
.form-area {
    width: 25%;
    margin-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.layout-area,
.preview-area,
.form-area {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
}

.preview-area {
    width: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

/*Copied*/

.preview-area {
    position: relative;
    min-width: 700px;
}

.outer-preview {
    padding: 30px 0;
    margin: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

.choices-section {
    min-height: 50px;
}

.colors-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.colors-list li {
    float: left;
    display: block;
    width: 90px;
    height: 50px;
    border: 3px solid transparent;
    cursor: pointer;
    margin: 0 5px 5px 0;
    border-radius: 2px;
    transition: all .1s ease;
    position: relative;
}

.colors-list li:hover {
    border-color: #fff;
    box-shadow: 0px 0px 5px 1px #999;
}

.colors-list li.selected {
    border-width: 5px;
    border-color: #fff;
    border-radius: 4px;
    background-clip: padding-box;
}

.colors-list li:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    width: 10px;
    height: 5px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    -moz-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    z-index: 1;
    transition: all .3s ease;
}

.colors-list li.selected:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
    -moz-transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
}

.colors-list li.lightBG:after {
    border-color: #000;
}

.card-preview {
    width: 671px;
    height: 191px;
    margin: 0 auto;
    display: -webkit-flex;
    -webkit-align-items: stretch;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.card-back,
.card-front {
    width: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.card-front {
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.card-back img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

}

.custom-image.card-back img {
    height: auto;
    top: 0;
    min-height: 191px;

    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
}

.card-back img.glyph-img {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}

.card-back .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    background-color: transparent;
    z-index: 2;
}

.card-back .text-layer {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #fff;
    padding: 0 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
    transition: all .3s ease;
}

.card-back .text-layer.align-bottom {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    bottom: 20px;
    top: auto;
}

.card-back .text-layer .site-url {
    font-weight: 600;
    display: inline-block;
    font-size: 13px;

}

.card-back .text-layer .office-address {
    margin-bottom: 5px;
    line-height: 16px;
    display: block;
    padding: 0 5px;
}

.text-preview {
    position: absolute;
    top: 50px;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

.text-preview p {
    margin: 0;
}

.text-preview .name {
    text-transform: uppercase;
    color: #231f20;
    font-size: 20px;
    font-weight: 800;
    max-height: 30px;
    overflow: hidden;
}

.text-preview .job-title {
    color: #000000;
    font-size: 10px;
    font-style: italic;
    border-left: 0;
    border-right: 0;
    padding: 3px 7px 5px;
    margin: 10px auto;
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-width: 1px 0 1px 0;
}

.text-preview .contact-details {
    font-style: italic;
    color: #000000;
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tw-logo-container {
    position: absolute;
    top: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tw-logo-container svg .tw-logo {
    fill: #000000;
}

.feedback-header {
    font-size: 16px;
    padding: 0;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.tick:before,
.tick:after {
    position: absolute;
    content: "";
}

.tick:before {
    top: 0;
    left: 0;
    background: rgb(50, 159, 86);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.tick:after {
    top: 5px;
    left: 4px;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
}

.img-upload-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

.custom-image .img-upload-container {
    display: block;
}

.img-upload-container .btn-upload {

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    background: none;
    border: 1px solid #fff;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.3s ease-in-out;
}

.img-upload-container .btn-upload:focus,
.img-upload-container .btn-upload:hover {
    box-shadow: 0 0 500px 1px rgba(0, 0, 0, 0.5);
}

.btn-upload span {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.modify-image {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    color: #307fb5;
    background: url(https://drive.google.com/uc?id=0ByO5GvyHwTuYMUNkMVhtNzNsUUE) center center no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
    z-index: 10;
}

.img-upload-done .img-upload-container {
    display: none !important;
}

.img-upload-done .custom-image .modify-image {
    display: inline-block !important;
}

.confirm-message .img-upload-done .custom-image .modify-image {
    display: none !important;
}

/*Responsive Styles*/
/***************************************
     Style for small devices
****************************************/
@media screen and (max-width: 699px) {
    body.bg-loaded {
        background-size: contain;
        background-repeat: repeat;
    }

    body.modal-is-open .wrapper {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .topbar {
        padding: 20px 0;
    }

    .topbar .brand {
        font-size: 20px;
    }

    /*  .topbar .tagline {
         font-size: 15px;
         text-indent: 50px;
      }*/
    .main-content {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 0;
    }

    .layout-area, .preview-area, .form-area {
        width: 100%;
        margin: 0 0 15px 0;
        border-radius: 0;
    }

    .preview-area {
        min-width: initial;
    }

    .card-preview {
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 330px;
        width: 100%;
        height: auto;
    }

    .card-back,
    .card-front {
        width: 100%;
        height: 191px
    }

    .card-front {
        margin: 0 0 10px 0;
    }

    .footer {
        -webkit-justify-content: center;
        justify-content: center;
    }

    .outer-preview {
        padding: 20px 0;
    }

    .colors-list li {
        width: 40px;
        height: 40px;
    }

    .layout-subtype {
        max-height: none;
    }

    .layout-subtype li {
        padding: 0;
    }

    #simplemodal-container {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        border: 0 !important;
    }

    #simplemodal-container a.modalCloseImg {
        top: 5px !important;
        right: 10px !important;
    }

}

/***************************************
      Style for small devices
****************************************/
@media screen and (min-width: 480px) {
    .buttons-wrapper .form-row .form-field {
        display: inline-block;
    }

    .buttons-wrapper .form-row .card-qty {
        margin-right: 50px;
    }

    .tips-conatiner {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .tips-conatiner img {
        margin-right: 20px;
    }
}

/***************************************
 Style for tablets (medium size screens)
****************************************/
@media screen and (min-width: 700px) and (max-width: 1199px) {
    .layout-area, .form-area {
        width: 49%;
        margin: 0 0 15px 0;
    }

    .main-content {
        -webkit-justify-content: space-between;
        -webkit-flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .preview-area {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .buttons-wrapper .form-row {
        display: inline-block;
        margin-right: 30px;
    }

    .buttons-wrapper .form-buttons {
        text-align: right;
        float: right;
    }

    .tips-content ul {
        font-size: 16px;
    }
}

/*
* Typography
*/

.main-content h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: #1d111c;
    letter-spacing: -0.5px;
}

.main-content .number {
    background: #1a73ba;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.hint-text {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.2;
    color: #333;
}

/*
* Button
*/

.btn-big {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 6px;
}

.btn-primary {
    padding: 7px 15px;
    background: #1a73ba;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

/*
* Number
*/

.number {
    background: #1a73ba;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/*
Layout area
*/
.thumbnail-list {
list-style: none;
padding: 0;
margin: 0;
}
.thumbnail-list img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    min-height: 75px;
}
.thumbnail-list li {
    width: 100%;
    min-width: 220px;
    margin-bottom: 5px;
    padding: 7px;

}

.thumbnail-list .selected {
    border: 1px dashed #000;
    border-radius: 3px;
    position: relative;
    opacity: 1;
}
.thumbnail-list .selected:before,
.thumbnail-list .selected:after {
    position: absolute;
    content: "";
}
.thumbnail-list .selected:before {
    top: -7px;
    left: -7px;
    background: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.thumbnail-list .selected:after {
    top: -2px;
    left: -3px;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
}
.layout-subtype {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 130px;
}
.layout-subtype li {
    display: block;
    position: relative;
    margin: 0 5px 5px 0;
    transition: all .3s ease;
    float: left;
}
.layout-subtype img {
    width: 90px;
    height: 50px;
    cursor: pointer;
    border: 3px solid transparent;
    display: block;
    transition: all .1s ease;
}
.layout-subtype img:hover {
    border-color: #fff;
    box-shadow: 0px 0px 5px 1px #999;
}
.layout-subtype .selected img {
    border-width: 5px;
    border-color: #fff;
    border-radius: 4px;
    background-clip: padding-box;
}

.layout-subtype li:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    width: 10px;
    height: 5px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    -moz-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.layout-subtype li.selected:after {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    -moz-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);

}
.layout-subtype .lightBG:after {
    border-color: #000;
}